
@charset "utf-8";
.clearfix:after, .container:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix, .container {
    width: 500px;
}
* {
    box-sizing: border-box;
    outline: medium none;
}
body {
    font-family: "Nunito",sans-serif;
    margin: 0 !important;
}
p {
    line-height: 1.5;
}
h1 {
    margin-bottom: 12px;
    margin-top: -18px;
}
h4 {
    margin-bottom: 9px;
    margin-top: -14px;
}
form {
    display: block;
    margin-top: 0;
    padding-top: 18px;
}
.container {
    margin-left: auto;
    margin-right: auto;
	margin-top: 20px;
}
#flat-forms-pack .container-small {
    margin: -50px -506px 161px 109px;
    width: 269px;
}
#flat-forms-pack .container .container-small .heading {
    padding-bottom: 20px;
    padding-top: 10px;
}
#flat-forms-pack .container .container-small .global-alert {
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 1px 17px;
    position: relative;
}
div.global-alert.success {
    background: none repeat scroll 0 0 #23b86c;
    color: #e8f8ed;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
}
div.global-alert.success strong {
    color: white;
}
div.global-alert.error {
    background: none repeat scroll 0 0 #ed5a5a;
    color: #facdcd;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
}
div.global-alert.error strong {
    color: white;
}
svg path {
    transition: fill 0.2s ease 0s;
}
.square-gradient-bar {
    background-color: #3bbfee;
    border-radius: 4px 4px 0 0;
    font-size: 0;
    height: 10px;
    line-height: 0;
}
.square-gradient-bar:before, .square-gradient-bar:after {
    content: " ";
    display: table;
}
.square-gradient-bar:after {
    clear: both;
}
.square-gradient-bar:before, .square-gradient-bar:after {
    content: " ";
    display: table;
}
.square-gradient-bar:after {
    clear: both;
}
.square-gradient-bar .bar {
    display: inline-block;
    float: left;
    height: 10px;
    width: 12.5031%;
}
.square-gradient-bar .bar.left {
    border-top-left-radius: 3px;
}
.square-gradient-bar .bar.right {
    border-top-right-radius: 3px;
}
.bar.one {
    background-color: #0d7ea5;
}
.square-gradient-bar .bar.two {
    background-color: #32b0c8;
}
.square-gradient-bar .bar.three {
    background-color: #75cabc;
}
.square-gradient-bar .bar.four {
    background-color: #7cbf42;
}
.square-gradient-bar .bar.five {
    background-color: #b8ce32;
}
.square-gradient-bar .bar.six {
    background-color: #e9e718;
}
.square-gradient-bar .bar.seven {
    background-color: #f6a91b;
}
.square-gradient-bar .bar.eight {
    background-color: #eb6a24;
}
form .field {
    padding: 0 12px 15px 0;
}
form .field .error-message {
    background: none repeat scroll 0 0 #ed5a5a;
    border-radius: 0 0 3px 3px;
    color: #facdcd !important;
    display: block;
    font-family: "Nunito",Helvetica,Arial,sans-serif;
    font-size: 14px !important;
    line-height: 1.3;
    margin: -2px 0 0;
    padding: 7px 14px;
}
form .field .error-message span {
    color: white;
    font-weight: bold;
}
form .field .email-error {
    visibility: hidden;
}
form .field .error {
    border-radius: 6px 6px 0 0 !important;
    box-shadow: 0 0 0 2px #ed5a5a inset !important;
}
form .field .success-message {
    background: none repeat scroll 0 0 #5fcf80;
    border-radius: 0 0 3px 3px;
    color: #e8f8ed !important;
    display: block;
    font-family: "Nunito",Helvetica,Arial,sans-serif;
    font-size: 14px !important;
    line-height: 1.3;
    margin: -2px 0 0;
    padding: 7px 14px;
}
form .field .success-message span {
    color: white;
    font-weight: bold;
}
form .field .success {
    box-shadow: 0 0 0 2px #5fcf80 inset !important;
}
form .field .checkbox, .radio {
    background-color: red;
}
#flat-forms .well-big form .field input[type="text"], #flat-forms-pack .well-big form .field input[type="email"], #flat-forms-pack .well-big form .field input[type="password"] {
    padding: 13px;
}
form .field input[type="text"], form .field input[type="email"], form .field input[type="password"], form .field input[type="number"], form .field textarea {
    background-color: #f0f0f0;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #ccc inset, 0 0 0 1px #dedede inset, 0 1px 2px 1px #e6e6e6 inset, 0 0 0 0 #479aeb;
    color: #2c3e50;
    display: inline-block;
    font-family: "Nunito",Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    padding: 13px;
    transition: all 300ms ease 0s;
    width: 100%;
}
form .field input[type="text"] .error, form .field input[type="email"] .error, form .field input[type="password"] .error, form .field input[type="number"] .error, form .field textarea .error {
    border: 2px solid #ed5a5a;
}
#flat-forms-pack .well-big form .button {
    display: block;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    width: 100%;
}
#flat-forms-pack .well-big form .facebook-button {
    display: block;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    padding-bottom: 9px;
    padding-top: 10px;
    width: 100%;
}
#flat-forms-pack .well-big form .facebook-button .icon {
    background: url("images/socials/facebook.svg") repeat scroll 0 0 / 25px 25px rgba(0, 0, 0, 0);
    display: list-item;
    margin-left: -3px;
    width: 19px;
}
#flat-forms-pack .well-big form .facebook-button p {
    margin: -23px 0 0 54px;
}
#flat-forms-pack .well-big form .googleplus-button {
    display: block;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    padding-bottom: 9px;
    padding-top: 10px;
    width: 100%;
}
#flat-forms-pack .well-big form .googleplus-button .icon {
    background: url("images/socials/google.svg") repeat scroll 0 0 / 24px 25px rgba(0, 0, 0, 0);
    display: list-item;
    margin-left: -3px;
    width: 24px;
}
#flat-forms-pack .well-big form .googleplus-button p {
    margin: -23px -10px 0 58px;
}
.facebook-button {
    background-color: #46629e;
}
.facebook-button:hover {
    background-color: #5373b8;
}
.googleplus-button {
    background-color: #d6492f;
}
.googleplus-button:hover {
    background-color: #e74d32;
}
#flat-forms-pack .container .container-small .well-big .social-separator .login-separator-left {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #edeff0;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    display: inline;
    float: left;
    height: 0;
    margin: 10px 0 16px -30px;
    width: 50%;
}
#flat-forms-pack .container .container-small .well-big .social-separator .login-separator-right {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #edeff0;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    float: right;
    height: 0;
    margin: -17px -17px 21px -31px;
    width: 50%;
}
#flat-forms-pack .container .container-small .well-big .social-separator .lineor {
    padding-left: 12px;
}
#flat-forms-pack .container .container-small .well-big .second {
    padding-left: 0;
    padding-right: 28px;
}
.facebook-button, .googleplus-button, .button, .magic-upload-button .file-input-wrapper {
    border: 0 none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: "Nunito",Arial,sans-serif;
    font-size: 16px;
    padding: 12px 16px 11px;
    text-decoration: none;
    transition: background-color 200ms ease 0s, box-shadow 200ms ease 0s;
    width: 100%;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
}
button, select {
    text-transform: none;
}
radio {
    margin-top: -10px;
}
button, input {
    line-height: normal;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
#login {
    margin: auto;
    padding: 8% 0 0;
    width: 100%;
}
.login * {
    margin: 0;
    padding: 0;
}
.login h1 {
    font-family: "Nunito",sans-serif;
    text-align: center;
}
.login h1 a {
    text-decoration: none;
}
.login h1 a img {
    text-decoration: none;
}
.login form {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-weight: 400;
    margin-left: 0;
    overflow: hidden;
    padding: 26px 0 46px;
}
#login form p {
    margin-bottom: 0;
}
.login form p input {
    background: none repeat scroll 0 0 #fbfbfb;
    border: medium none;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(202, 202, 206, 0.4) inset;
    font-size: 18px;
    height: 46px;
    line-height: 1.33;
    margin: 2px 6px 16px 0;
    padding: 10px 16px;
}
#flat-forms-pack .container .container-small .well-big .note {
    font-size: 13px;
    padding-top: 6px;
}
#flat-forms-pack .container .container-small .well-big .reset-password {
    color: #a9a9ad;
}
#flat-forms-pack .container .container-small .well-big .login-form {
    padding-top: 20px;
}
.form-element {
    background-color: #f0f0f0;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #ccc inset, 0 0 0 1px #dedede inset, 0 1px 2px 1px #e6e6e6 inset, 0 0 0 0 #479aeb;
    color: #2c3e50;
    display: inline-block;
    font-family: "Nunito",Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    padding: 15px 13px;
    transition: all 300ms ease 0s;
    width: 100%;
}
div.form-element:after {
    background: url("images/select.svg") no-repeat scroll center center #cccccc;
    border-radius: 3px;
    bottom: 17px;
    content: "";
    height: 43px;
    position: absolute;
    right: 14px;
    top: 2px;
    width: 38px;
}
select {
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: #a9a9a9;
    display: block;
    font-family: "Nunito",sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 21px;
    margin: -2px 0 -2px -5px;
    padding: 0;
    transition: all 0.15s linear 0s;
    width: 100%;
}
div.form-element select {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
}
#flat-forms-pack .container .container-small .well-big .secure-server {
    background: url("images/secure.svg") no-repeat scroll left center / 14px auto rgba(0, 0, 0, 0);
    color: #a9a9ad;
    font-size: 13px;
    padding-left: 26px;
    padding-top: 5px;
}
#flat-forms-pack .container .container-small .well-big .form-step {
    background-color: #23b86c;
    border-radius: 100px;
    color: white;
    display: inline-block;
    height: 50px;
    line-height: 51px;
    margin: -8px 12px 0 -54px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    vertical-align: middle;
    width: 50px;
}
#flat-forms-pack .container .container-small .well-big .step {
    color: #23b86c;
}
#flat-forms-pack .container .container-small .well-big .separator {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #edeff0;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: 0 0 16px -30px;
    width: 110.5%;
}
#flat-forms-pack .container .container-small .well-big .field .visa {
    height: 30px;
    margin-top: -4px;
    padding-left: 6px;
    position: absolute;
}
#flat-forms-pack .container .container-small .well-big .mastercard {
    height: 50px;
    margin-top: -14px;
    padding-left: 50px;
    position: absolute;
}
#flat-forms-pack .container .container-small .well-big .amex {
    height: 30px;
    margin-top: -4px;
    padding-left: 102px;
    position: absolute;
}
#flat-forms-pack .container .container-small .well-big .paypal {
    height: 52px;
    margin-top: -15px;
    padding-left: 6px;
    position: absolute;
}
#flat-forms-pack .container .container-small .well-big .bitcoin {
    height: 83px;
    margin-top: -30px;
    padding-left: 0;
    position: absolute;
}
#flat-forms-pack .container .container-small .well-big .field .terms {
    display: inline;
    font-size: 16px;
}
#flat-forms-pack .container .container-small .well-big .field span {
    font-size: 13px;
}
#flat-forms-pack .well-big.square-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#flat-forms-pack .well-big {
    padding-top: 16px;
//    background-color:;
   
}
.well-big {
   // background-color:
    border-radius: 3px;
    box-shadow: 0 2px 0 0 #e1e1e1;
    margin-bottom: 24px;
    padding: 0 17px 60px 30px;
}
#flat-forms-pack .footnote {
    margin-top: 15px;
}
#flat-forms-pack h2 {
    color: white;
    font-family: "Nunito",Arial,sans-serif;
    font-size: 1.85em;
    font-weight: bold;
    margin: 10px 0;
    text-align: left;
}
#flat-forms-pack h3 {
    font-family: "Nunito",Arial,sans-serif;
    font-size: 1.25em;
    font-weight: 100;
    margin: 10px 0;
    text-align: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 28px;
    position: relative;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.6667%;
}
.col-xs-10 {
    width: 83.3333%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.6667%;
}
.col-xs-7 {
    width: 58.3333%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.6667%;
}
.col-xs-4 {
    width: 33.3333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.6667%;
}
.col-xs-1 {
    width: 8.33333%;
}
.col-xs-pull-12 {
    right: 100%;
}
.col-xs-pull-11 {
    right: 91.6667%;
}
.col-xs-pull-10 {
    right: 83.3333%;
}
.col-xs-pull-9 {
    right: 75%;
}
.col-xs-pull-8 {
    right: 66.6667%;
}
.col-xs-pull-7 {
    right: 58.3333%;
}
.col-xs-pull-6 {
    right: 50%;
}
.col-xs-pull-5 {
    right: 41.6667%;
}
.col-xs-pull-4 {
    right: 33.3333%;
}
.col-xs-pull-3 {
    right: 25%;
}
.col-xs-pull-2 {
    right: 16.6667%;
}
.col-xs-pull-1 {
    right: 8.33333%;
}
.col-xs-pull-0 {
    right: 0;
}
.col-xs-push-12 {
    left: 100%;
}
.col-xs-push-11 {
    left: 91.6667%;
}
.col-xs-push-10 {
    left: 83.3333%;
}
.col-xs-push-9 {
    left: 75%;
}
.col-xs-push-8 {
    left: 66.6667%;
}
.col-xs-push-7 {
    left: 58.3333%;
}
.col-xs-push-6 {
    left: 50%;
}
.col-xs-push-5 {
    left: 41.6667%;
}
.col-xs-push-4 {
    left: 33.3333%;
}
.col-xs-push-3 {
    left: 25%;
}
.col-xs-push-2 {
    left: 16.6667%;
}
.col-xs-push-1 {
    left: 8.33333%;
}
.col-xs-push-0 {
    left: 0;
}
.col-xs-offset-12 {
    margin-left: 100%;
}
.col-xs-offset-11 {
    margin-left: 91.6667%;
}
.col-xs-offset-10 {
    margin-left: 83.3333%;
}
.col-xs-offset-9 {
    margin-left: 75%;
}
.col-xs-offset-8 {
    margin-left: 66.6667%;
}
.col-xs-offset-7 {
    margin-left: 58.3333%;
}
.col-xs-offset-6 {
    margin-left: 50%;
}
.col-xs-offset-5 {
    margin-left: 41.6667%;
}
.col-xs-offset-4 {
    margin-left: 33.3333%;
}
.col-xs-offset-3 {
    margin-left: 25%;
}
.col-xs-offset-2 {
    margin-left: 16.6667%;
}
.col-xs-offset-1 {
    margin-left: 8.33333%;
}
.col-xs-offset-0 {
    margin-left: 0;
}
@media (min-width: 768px) {
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
.col-sm-12 {
    width: 100%;
}
.col-sm-11 {
    width: 91.6667%;
}
.col-sm-10 {
    width: 83.3333%;
}
.col-sm-9 {
    width: 75%;
}
.col-sm-8 {
    width: 66.6667%;
}
.col-sm-7 {
    width: 58.3333%;
}
.col-sm-6 {
    width: 50%;
}
.col-sm-5 {
    width: 41.6667%;
}
.col-sm-4 {
    width: 33.3333%;
}
.col-sm-3 {
    width: 25%;
}
.col-sm-2 {
    width: 16.6667%;
}
.col-sm-1 {
    width: 8.33333%;
}
.col-sm-pull-12 {
    right: 100%;
}
.col-sm-pull-11 {
    right: 91.6667%;
}
.col-sm-pull-10 {
    right: 83.3333%;
}
.col-sm-pull-9 {
    right: 75%;
}
.col-sm-pull-8 {
    right: 66.6667%;
}
.col-sm-pull-7 {
    right: 58.3333%;
}
.col-sm-pull-6 {
    right: 50%;
}
.col-sm-pull-5 {
    right: 41.6667%;
}
.col-sm-pull-4 {
    right: 33.3333%;
}
.col-sm-pull-3 {
    right: 25%;
}
.col-sm-pull-2 {
    right: 16.6667%;
}
.col-sm-pull-1 {
    right: 8.33333%;
}
.col-sm-pull-0 {
    right: 0;
}
.col-sm-push-12 {
    left: 100%;
}
.col-sm-push-11 {
    left: 91.6667%;
}
.col-sm-push-10 {
    left: 83.3333%;
}
.col-sm-push-9 {
    left: 75%;
}
.col-sm-push-8 {
    left: 66.6667%;
}
.col-sm-push-7 {
    left: 58.3333%;
}
.col-sm-push-6 {
    left: 50%;
}
.col-sm-push-5 {
    left: 41.6667%;
}
.col-sm-push-4 {
    left: 33.3333%;
}
.col-sm-push-3 {
    left: 25%;
}
.col-sm-push-2 {
    left: 16.6667%;
}
.col-sm-push-1 {
    left: 8.33333%;
}
.col-sm-push-0 {
    left: 0;
}
.col-sm-offset-12 {
    margin-left: 100%;
}
.col-sm-offset-11 {
    margin-left: 91.6667%;
}
.col-sm-offset-10 {
    margin-left: 83.3333%;
}
.col-sm-offset-9 {
    margin-left: 75%;
}
.col-sm-offset-8 {
    margin-left: 66.6667%;
}
.col-sm-offset-7 {
    margin-left: 58.3333%;
}
.col-sm-offset-6 {
    margin-left: 50%;
}
.col-sm-offset-5 {
    margin-left: 41.6667%;
}
.col-sm-offset-4 {
    margin-left: 33.3333%;
}
.col-sm-offset-3 {
    margin-left: 25%;
}
.col-sm-offset-2 {
    margin-left: 16.6667%;
}
.col-sm-offset-1 {
    margin-left: 8.33333%;
}
.col-sm-offset-0 {
    margin-left: 0;
}
}
@media (min-width: 992px) {
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-md-12 {
    width: 100%;
}
.col-md-11 {
    width: 91.6667%;
}
.col-md-10 {
    width: 83.3333%;
}
.col-md-9 {
    width: 75%;
}
.col-md-8 {
    width: 66.6667%;
}
.col-md-7 {
    width: 58.3333%;
}
.col-md-6 {
    width: 50%;
}
.col-md-5 {
    width: 41.6667%;
}
.col-md-4 {
    width: 33.3333%;
}
.col-md-3 {
    width: 25%;
}
.col-md-2 {
    width: 16.6667%;
}
.col-md-1 {
    width: 8.33333%;
}
.col-md-pull-12 {
    right: 100%;
}
.col-md-pull-11 {
    right: 91.6667%;
}
.col-md-pull-10 {
    right: 83.3333%;
}
.col-md-pull-9 {
    right: 75%;
}
.col-md-pull-8 {
    right: 66.6667%;
}
.col-md-pull-7 {
    right: 58.3333%;
}
.col-md-pull-6 {
    right: 50%;
}
.col-md-pull-5 {
    right: 41.6667%;
}
.col-md-pull-4 {
    right: 33.3333%;
}
.col-md-pull-3 {
    right: 25%;
}
.col-md-pull-2 {
    right: 16.6667%;
}
.col-md-pull-1 {
    right: 8.33333%;
}
.col-md-pull-0 {
    right: 0;
}
.col-md-push-12 {
    left: 100%;
}
.col-md-push-11 {
    left: 91.6667%;
}
.col-md-push-10 {
    left: 83.3333%;
}
.col-md-push-9 {
    left: 75%;
}
.col-md-push-8 {
    left: 66.6667%;
}
.col-md-push-7 {
    left: 58.3333%;
}
.col-md-push-6 {
    left: 50%;
}
.col-md-push-5 {
    left: 41.6667%;
}
.col-md-push-4 {
    left: 33.3333%;
}
.col-md-push-3 {
    left: 25%;
}
.col-md-push-2 {
    left: 16.6667%;
}
.col-md-push-1 {
    left: 8.33333%;
}
.col-md-push-0 {
    left: 0;
}
.col-md-offset-12 {
    margin-left: 100%;
}
.col-md-offset-11 {
    margin-left: 91.6667%;
}
.col-md-offset-10 {
    margin-left: 83.3333%;
}
.col-md-offset-9 {
    margin-left: 75%;
}
.col-md-offset-8 {
    margin-left: 66.6667%;
}
.col-md-offset-7 {
    margin-left: 58.3333%;
}
.col-md-offset-6 {
    margin-left: 50%;
}
.col-md-offset-5 {
    margin-left: 41.6667%;
}
.col-md-offset-4 {
    margin-left: 33.3333%;
}
.col-md-offset-3 {
    margin-left: 25%;
}
.col-md-offset-2 {
    margin-left: 16.6667%;
}
.col-md-offset-1 {
    margin-left: 8.33333%;
}
.col-md-offset-0 {
    margin-left: 0;
}
}
@media (min-width: 1200px) {
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: none;
}
.col-lg-12 {
    width: 100%;
}
.col-lg-11 {
    width: 91.6667%;
}
.col-lg-10 {
    width: 83.3333%;
}
.col-lg-9 {
    width: 75%;
}
.col-lg-8 {
    width: 66.6667%;
}
.col-lg-7 {
    width: 58.3333%;
}
.col-lg-6 {
    width: 50%;
}
.col-lg-5 {
    width: 41.6667%;
}
.col-lg-4 {
    width: 33.3333%;
}
.col-lg-3 {
    width: 25%;
}
.col-lg-2 {
    width: 16.6667%;
}
.col-lg-1 {
    width: 8.33333%;
}
.col-lg-pull-12 {
    right: 100%;
}
.col-lg-pull-11 {
    right: 91.6667%;
}
.col-lg-pull-10 {
    right: 83.3333%;
}
.col-lg-pull-9 {
    right: 75%;
}
.col-lg-pull-8 {
    right: 66.6667%;
}
.col-lg-pull-7 {
    right: 58.3333%;
}
.col-lg-pull-6 {
    right: 50%;
}
.col-lg-pull-5 {
    right: 41.6667%;
}
.col-lg-pull-4 {
    right: 33.3333%;
}
.col-lg-pull-3 {
    right: 25%;
}
.col-lg-pull-2 {
    right: 16.6667%;
}
.col-lg-pull-1 {
    right: 8.33333%;
}
.col-lg-pull-0 {
    right: 0;
}
.col-lg-push-12 {
    left: 100%;
}
.col-lg-push-11 {
    left: 91.6667%;
}
.col-lg-push-10 {
    left: 83.3333%;
}
.col-lg-push-9 {
    left: 75%;
}
.col-lg-push-8 {
    left: 66.6667%;
}
.col-lg-push-7 {
    left: 58.3333%;
}
.col-lg-push-6 {
    left: 50%;
}
.col-lg-push-5 {
    left: 41.6667%;
}
.col-lg-push-4 {
    left: 33.3333%;
}
.col-lg-push-3 {
    left: 25%;
}
.col-lg-push-2 {
    left: 16.6667%;
}
.col-lg-push-1 {
    left: 8.33333%;
}
.col-lg-push-0 {
    left: 0;
}
.col-lg-offset-12 {
    margin-left: 100%;
}
.col-lg-offset-11 {
    margin-left: 91.6667%;
}
.col-lg-offset-10 {
    margin-left: 83.3333%;
}
.col-lg-offset-9 {
    margin-left: 75%;
}
.col-lg-offset-8 {
    margin-left: 66.6667%;
}
.col-lg-offset-7 {
    margin-left: 58.3333%;
}
.col-lg-offset-6 {
    margin-left: 50%;
}
.col-lg-offset-5 {
    margin-left: 41.6667%;
}
.col-lg-offset-4 {
    margin-left: 33.3333%;
}
.col-lg-offset-3 {
    margin-left: 25%;
}
.col-lg-offset-2 {
    margin-left: 16.6667%;
}
.col-lg-offset-1 {
    margin-left: 8.33333%;
}
.col-lg-offset-0 {
    margin-left: 0;
}
}
